extends layout
block head
    script(src='javascripts/game/imageCharge.js')
    link(rel='stylesheet', href='/stylesheets/game.css')
    x(style="display: none;")= x
    y(style="display: none;")= y
    script(src='/socket.io/socket.io.js/')
    script
      var socket = io.connect(location.host.substring(0, location.host.indexOf(":")));
      
block content
    //h4#fps
    #personajes.modal.fade.active
            .modal-header
                h1 Personajes
            .modal-body
                - for (var i=1; i<=45; i++)
                    .person
                        .pers(id="pers" + i)
                        if(i==imgPers)
                            input(type="radio", name="pers", value=i, checked="true")
                        else
                            input(type="radio", name="pers", value=i)
                    //img(src="/images/game/char/" + i + ".png", style=)
            .modal-footer
                input(type="button", value="Guardar", onclick="guardaPers($('input:radio[name=pers]:checked').val())", data-dismiss='modal').btn.btn-primary
    #divJoc(height="480px", width="960px")
        #divCanvas(tabindex = "1")
            canvas#canvasBot(height="480px", width="960px")
            canvas#canvasPJ(height="480px", width="960px")
            canvas#canvasMid(height="480px", width="960px")
            //canvas#canvasTop(height="480px", width="960px")
            //canvas#canvasInterface(height="480px", width="960px")
        #divMenus
            table
                tr
                    td(style="line-height: 10px;")
                        span Nombre:
                        name= name
                        span <br/>Lv:1
                    td
                        #divVida
                            p
                                vida= VIDA
                                span %
                            #vidaBar
                        #divMana
                            #manaBar
                            p
                                mana= MANA
                                span %
                    td
                        #sp1.potRed(onclick="func1();") 3
                    td
                        #sp2.potBlue(onclick="func2();") 3
                    td
                        .attack(onclick="player.attack();")
        #divChat
            #conversacion
            form(onsubmit='return enviaChat(this);')
                //input#enviaA(type='text', name='pers')
                input#textoChat(type='text', name = 'text', required = "true")
                button.btn.btn-primary(type='submit') Envia

        .btn-group
            a.btn(data-toggle="modal", data-target="#personajes")
                .icon-user
                |&nbsp Cambiar personaje
            a.btn(onclick="musicOnOff()")
                #btnAudioMusic.icon-volume-up
                |&nbsp Musica
            a.btn(onclick="chatOnOff()")
                #btnAudioChat.icon-volume-up
                |&nbsp Chat

        audio#bgm(autoplay, loop)
            source(src="audio/music.mp3", type="audio/mp3")
            source(src="audio/music.ogg", type="audio/ogg")
        audio#chs
            source(src="audio/chatMessage.mp3", type="audio/mp3")
            source(src="audio/chatMessage.ogg", type="audio/ogg")


block scripts
    //script(src='javascripts/game/interfase.js')
    script(src='javascripts/game/globalVar.js')
    script(src='javascripts/game/mapas/map01.js')
    script(src='javascripts/game/mapas/map02.js')
    script(src='javascripts/game/mapas/casa.js')
    script(src='javascripts/game/mapas/warp.js')
    script(src='javascripts/game/events.js')
    script(src='javascripts/game/AnimationFrame.js')
    script(src='javascripts/game/fps.js')
    script(src='javascripts/game/game.js')
    script(src='javascripts/game/player.js')
    script(src='javascripts/game/mapa.js')
    script(src='javascripts/game/audio.js')
    script(src='javascripts/game/throwArrow.js')
